.footer_gandhi_img {
  width: 175px;
  height: 125px;
}
@media(max-width:680px){
  .footer_gandhi_img {
    width: 100px;
    height: 72px;
    margin-top: 35%;
  }
}
@media(max-width:430px){
  .footer_gandhi_img {
    width: 80.87px;
    height: 68.95px;
    margin-top: 15px;
  }
}